.allAnimalsContainer {
	margin-top: 30px;
	margin-inline: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.animalContainer {
	display: grid;
	background-color: #D9D9D9;
	border-radius: 15px;
	margin: 50px;
}

.animalNameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
} 

.animalImage {
	height: 250px;
	margin-inline: auto;
	margin-bottom: 40px;
	border-radius: 10px;
}

.animalNameContainer h3 {
	font-family: "Marvel", serif;
  	font-weight: 700;
}